#bin and Debug folders
.vs/
StringSum/bin/Debug/
StringSum/obj/Debug/
StringSum.Test/bin/Debug/
StringSum.Test/obj/Debug/

# Files built by Visual Studio
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc